.i-phone1415-pro-max1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.i-phone1415-pro-max1i-phone1415-pro-max1 {
  width: 100%;
  height: 932px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.i-phone1415-pro-max1-rectangle1 {
  top: 32px;
  left: 7px;
  width: 415px;
  height: 895px;
  position: absolute;
  border-color: rgba(151, 121, 49, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 28px;
}
 
.i-phone1415-pro-max1-image7 {
  top: -19.999971389770508px;
  left: 533px;
  width: 1000px;
  height: 661px;
  position: absolute;
}
 
.i-phone1415-pro-max1-image1 {
  top: 84px;
  left: 13px;
  width: 404px;
  height: 379px;
  position: absolute;
}
 
.i-phone1415-pro-max1-elaam3011 {
  top: 88px;
  left: 333px;
  width: 83px;
  height: 83px;
  position: absolute;
}
 
.i-phone1415-pro-max1-rectangle2 {
  top: 31px;
  left: 7px;
  width: 416px;
  height: 47px;
  position: absolute;
}
 
.i-phone1415-pro-max1-elaamwhitelong1 {
  top: 35px;
  left: 137px;
  width: 156px;
  height: 38.66999816894531px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.i-phone1415-pro-max1-group1 {
  top: 0.9300000071525574px;
  left: 132.47000122070312px;
  width: 23.80999755859375px;
  height: 37.27000045776367px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1-vector10 {
  top: 0px;
  left: 0.4862518310546875px;
  width: 16px;
  height: 28px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector11 {
  top: 7.62000036239624px;
  left: 5.459991455078125px;
  width: 13px;
  height: 23px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector12 {
  top: 2.009999990463257px;
  left: 14.17034912109375px;
  width: 9px;
  height: 26px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector13 {
  top: 11.489999771118164px;
  left: 13.862960815429688px;
  width: 8px;
  height: 16px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector14 {
  top: 30.03999900817871px;
  left: 0px;
  width: 24px;
  height: 7px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector15 {
  top: 11.289999961853027px;
  left: 2.1399993896484375px;
  width: 8px;
  height: 14px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector16 {
  top: 19.542570114135742px;
  left: 5.7899932861328125px;
  width: 1px;
  height: 3px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector17 {
  top: 19.687976837158203px;
  left: 16.4876708984375px;
  width: 1px;
  height: 3px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector18 {
  top: 34.0859260559082px;
  left: 14.050003051757812px;
  width: 1px;
  height: 2px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector19 {
  top: 34.089786529541016px;
  left: 8.458160400390625px;
  width: 1px;
  height: 2px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector20 {
  top: 34.43177795410156px;
  left: 8.854461669921875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector21 {
  top: 34.436622619628906px;
  left: 13.850006103515625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector22 {
  top: 31.279998779296875px;
  left: 7.3199920654296875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector23 {
  top: 32.574928283691406px;
  left: 12.618621826171875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector24 {
  top: 32.720001220703125px;
  left: 17.050003051757812px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector25 {
  top: 32.720001220703125px;
  left: 5.0399932861328125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector26 {
  top: 31.43000030517578px;
  left: 11.69000244140625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector27 {
  top: 32.720001220703125px;
  left: 4.160003662109375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector28 {
  top: 32.5556640625px;
  left: 2.4538726806640625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector29 {
  top: 31.420150756835938px;
  left: 10.350006103515625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector30 {
  top: 32.711280822753906px;
  left: 10.92999267578125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector31 {
  top: 32.711280822753906px;
  left: 20.339996337890625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector32 {
  top: 31.421279907226562px;
  left: 13.240005493164062px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector33 {
  top: 32.711280822753906px;
  left: 6.649993896484375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector34 {
  top: 32.68899154663086px;
  left: 19.539825439453125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector35 {
  top: 32.68899154663086px;
  left: 10.12982177734375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector36 {
  top: 32.70014953613281px;
  left: 16.300003051757812px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector37 {
  top: 32.70111083984375px;
  left: 14.080001831054688px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector38 {
  top: 32.703704833984375px;
  left: 11.699996948242188px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector39 {
  top: 32.687294006347656px;
  left: 15.524917602539062px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector40 {
  top: 32.687294006347656px;
  left: 3.3649139404296875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector41 {
  top: 31.397296905517578px;
  left: 14.894927978515625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector42 {
  top: 31.419998168945312px;
  left: 12.569992065429688px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector43 {
  top: 31.395278930664062px;
  left: 8.178390502929688px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector44 {
  top: 32.720001220703125px;
  left: 5.9061431884765625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector45 {
  top: 34.779998779296875px;
  left: 9.226776123046875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector46 {
  top: 34.790000915527344px;
  left: 13.839996337890625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector47 {
  top: 31.43000030517578px;
  left: 9.529998779296875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector48 {
  top: 32.720001220703125px;
  left: 8.449996948242188px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector49 {
  top: 32.720001220703125px;
  left: 17.860000610351562px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector50 {
  top: 31.420150756835938px;
  left: 8.889999389648438px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector51 {
  top: 32.70256423950195px;
  left: 7.7299957275390625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector52 {
  top: 32.68527603149414px;
  left: 14.899993896484375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector53 {
  top: 31.395278930664062px;
  left: 15.67999267578125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector54 {
  top: 32.720001220703125px;
  left: 18.610000610351562px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector55 {
  top: 32.689998626708984px;
  left: 9.169998168945312px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector56 {
  top: 31.400001525878906px;
  left: 13.970001220703125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector57 {
  top: 31.400001525878906px;
  left: 11px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector58 {
  top: 32.56999969482422px;
  left: 13.759994506835938px;
  width: 0px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector59 {
  top: 32.720001220703125px;
  left: 9.860000610351562px;
  width: 0px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector60 {
  top: 32.720001220703125px;
  left: 19.270004272460938px;
  width: 0px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector61 {
  top: 32.720001220703125px;
  left: 7.44000244140625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector62 {
  top: 13.316920280456543px;
  left: 11.358657836914062px;
  width: 1px;
  height: 2px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector63 {
  top: 11.629213333129883px;
  left: 11.616256713867188px;
  width: 1px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro-max1-layer11 {
  top: 0.009210708551108837px;
  left: 0.006153842434287071px;
  width: 128.43385314941406px;
  height: 38.66078567504883px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1-group2 {
  top: 0px;
  left: 0px;
  width: 128.43385314941406px;
  height: 38.66078567504883px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1-group3 {
  top: 0px;
  left: 0px;
  width: 128.43385314941406px;
  height: 38.66078567504883px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1f51321 {
  top: 0.33985117077827454px;
  left: 120.8283920288086px;
  width: 4px;
  height: 33px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51481 {
  top: 15.590575218200684px;
  left: 99.50838470458984px;
  width: 19px;
  height: 23px;
  position: absolute;
}
 
.i-phone1415-pro-max1f513221 {
  top: 0.3998511731624603px;
  left: 101.54839324951172px;
  width: 4px;
  height: 33px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51491 {
  top: 16.12078857421875px;
  left: 70.24384307861328px;
  width: 27px;
  height: 22px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51741 {
  top: 6.39078950881958px;
  left: 79.0248794555664px;
  width: 16px;
  height: 21px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51051 {
  top: 5.010789394378662px;
  left: 77.49384307861328px;
  width: 8px;
  height: 4px;
  position: absolute;
}
 
.i-phone1415-pro-max1f513231 {
  top: 0.48078930377960205px;
  left: 71.98857879638672px;
  width: 4px;
  height: 34px;
  position: absolute;
}
 
.i-phone1415-pro-max1-group4 {
  top: 0px;
  left: 49.58301544189453px;
  width: 19.101125717163086px;
  height: 38.209049224853516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1f23651 {
  top: 1.8706188201904297px;
  left: 0px;
  width: 15px;
  height: 29px;
  position: absolute;
}
 
.i-phone1415-pro-max1f27051 {
  top: 0px;
  left: 3.1708297729492188px;
  width: 16px;
  height: 38px;
  position: absolute;
}
 
.i-phone1415-pro-max1-group5 {
  top: 0.8206297159194946px;
  left: 22.073015213012695px;
  width: 34.94757080078125px;
  height: 37.480159759521484px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1f236521 {
  top: 1.8394775390625px;
  left: 0px;
  width: 15px;
  height: 28px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector64 {
  top: 0px;
  left: 3.310831069946289px;
  width: 32px;
  height: 37px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51691 {
  top: 20.526094436645508px;
  left: 0px;
  width: 31px;
  height: 18px;
  position: absolute;
}
 
.i-phone1415-pro-max1f9301 {
  top: 10.490789413452148px;
  left: 106.4968490600586px;
  width: 13px;
  height: 4px;
  position: absolute;
}
 
.i-phone1415-pro-max1f93021 {
  top: 33.60078811645508px;
  left: 115.10684967041016px;
  width: 13px;
  height: 4px;
  position: absolute;
}
 
.i-phone1415-pro-max1f93031 {
  top: 1.2107893228530884px;
  left: 87.79684448242188px;
  width: 13px;
  height: 4px;
  position: absolute;
}
 
.i-phone1415-pro-max1f93041 {
  top: 35.75078582763672px;
  left: 60.84343338012695px;
  width: 9px;
  height: 3px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51151 {
  top: 2.687969446182251px;
  left: 109.45384216308594px;
  width: 3px;
  height: 9px;
  position: absolute;
}
 
.i-phone1415-pro-max1f981 {
  top: 10.44897747039795px;
  left: 0.7600587010383606px;
  width: 6px;
  height: 17px;
  position: absolute;
}
 
.i-phone1415-pro-max1f911 {
  top: 1.677564024925232px;
  left: 32.92384719848633px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f951 {
  top: 16.112957000732422px;
  left: 43.5030632019043px;
  width: 7px;
  height: 5px;
  position: absolute;
}
 
.i-phone1415-pro-max1f9261 {
  top: 29.57039451599121px;
  left: 94.45609283447266px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f92621 {
  top: 1.3003950119018555px;
  left: 44.51737594604492px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f92631 {
  top: 5.720395088195801px;
  left: 16.437374114990234px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f92641 {
  top: 29.740394592285156px;
  left: 17.717374801635742px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f92651 {
  top: 1.279423713684082px;
  left: 59.91809844970703px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f921 {
  top: 2.18424916267395px;
  left: 0.6538462042808533px;
  width: 9px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f922 {
  top: 17.554248809814453px;
  left: 8.40384578704834px;
  width: 9px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1-group6 {
  top: 0px;
  left: 0px;
  width: 128.43385314941406px;
  height: 38.66078567504883px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1f51324 {
  top: 0.33985117077827454px;
  left: 120.8283920288086px;
  width: 4px;
  height: 33px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51482 {
  top: 15.590575218200684px;
  left: 99.50838470458984px;
  width: 19px;
  height: 23px;
  position: absolute;
}
 
.i-phone1415-pro-max1f513222 {
  top: 0.3998511731624603px;
  left: 101.54839324951172px;
  width: 4px;
  height: 33px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51492 {
  top: 16.12078857421875px;
  left: 70.24384307861328px;
  width: 27px;
  height: 22px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51742 {
  top: 6.39078950881958px;
  left: 79.0248794555664px;
  width: 16px;
  height: 21px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51052 {
  top: 5.010789394378662px;
  left: 77.49384307861328px;
  width: 8px;
  height: 4px;
  position: absolute;
}
 
.i-phone1415-pro-max1f513232 {
  top: 0.48078930377960205px;
  left: 71.98857879638672px;
  width: 4px;
  height: 34px;
  position: absolute;
}
 
.i-phone1415-pro-max1-group7 {
  top: 0px;
  left: 49.58301544189453px;
  width: 19.101125717163086px;
  height: 38.209049224853516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1f23653 {
  top: 1.8706188201904297px;
  left: 0px;
  width: 15px;
  height: 29px;
  position: absolute;
}
 
.i-phone1415-pro-max1f27052 {
  top: 0px;
  left: 3.1708297729492188px;
  width: 16px;
  height: 38px;
  position: absolute;
}
 
.i-phone1415-pro-max1-group8 {
  top: 0.8206297159194946px;
  left: 22.073015213012695px;
  width: 34.94757080078125px;
  height: 37.480159759521484px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro-max1f236522 {
  top: 1.8394775390625px;
  left: 0px;
  width: 15px;
  height: 28px;
  position: absolute;
}
 
.i-phone1415-pro-max1-vector65 {
  top: 0px;
  left: 3.310831069946289px;
  width: 32px;
  height: 37px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51692 {
  top: 20.526094436645508px;
  left: 0px;
  width: 31px;
  height: 18px;
  position: absolute;
}
 
.i-phone1415-pro-max1f9305 {
  top: 10.490789413452148px;
  left: 106.4968490600586px;
  width: 13px;
  height: 4px;
  position: absolute;
}
 
.i-phone1415-pro-max1f93022 {
  top: 33.60078811645508px;
  left: 115.10684967041016px;
  width: 13px;
  height: 4px;
  position: absolute;
}
 
.i-phone1415-pro-max1f93032 {
  top: 1.2107893228530884px;
  left: 87.79684448242188px;
  width: 13px;
  height: 4px;
  position: absolute;
}
 
.i-phone1415-pro-max1f93042 {
  top: 35.75078582763672px;
  left: 60.84343338012695px;
  width: 9px;
  height: 3px;
  position: absolute;
}
 
.i-phone1415-pro-max1f51152 {
  top: 2.687969446182251px;
  left: 109.45384216308594px;
  width: 3px;
  height: 9px;
  position: absolute;
}
 
.i-phone1415-pro-max1f982 {
  top: 10.44897747039795px;
  left: 0.7600587010383606px;
  width: 6px;
  height: 17px;
  position: absolute;
}
 
.i-phone1415-pro-max1f912 {
  top: 1.677564024925232px;
  left: 32.92384719848633px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f952 {
  top: 16.112957000732422px;
  left: 43.5030632019043px;
  width: 7px;
  height: 5px;
  position: absolute;
}
 
.i-phone1415-pro-max1f9266 {
  top: 29.57039451599121px;
  left: 94.45609283447266px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f92622 {
  top: 1.3003950119018555px;
  left: 44.51737594604492px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f92632 {
  top: 5.720395088195801px;
  left: 16.437374114990234px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f92642 {
  top: 29.740394592285156px;
  left: 17.717374801635742px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f92652 {
  top: 1.279423713684082px;
  left: 59.91809844970703px;
  width: 3px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f923 {
  top: 2.18424916267395px;
  left: 0.6538462042808533px;
  width: 9px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1f924 {
  top: 17.554248809814453px;
  left: 8.40384578704834px;
  width: 9px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro-max1-rectangle3 {
  top: 857px;
  left: 30px;
  width: 370px;
  height: 50px;
  position: absolute;
  border-radius: 45.5px;
}
 
.i-phone1415-pro-max1-text1 {
  top: 855px;
  left: 155px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: AL-KANZ;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro-max1-frame2 {
  top: 858px;
  left: 31px;
  width: 369px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
}
 
.i-phone1415-pro-max1-frame1 {
  top: 464px;
  left: 20px;
  width: 391px;
  height: 383px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.0010000000474974513);
}
 
.i-phone1415-pro-max1-text2 {
  top: 499px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: AL-KANZ;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
